aside.sidebar a{
	text-decoration:none!important;
}

.fab{
	padding: 10px!important;
}

body>header{
	background-color:#080816!important;
}

#content .blog-index article h1 a, #blog-archives h1 a{
	color:#080816!important;
	font-family:"PT Sans","Helvetica Neue",Arial,sans-serif;
}

body>header h2, article header h1{
	font-family:"PT Sans","Helvetica Neue",Arial,sans-serif;
}

html{
	background-color:#000000e6!important;
}

.highlight, .gist-highlight{
	background:#171b1d!important;
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight{
	border:1px solid #171b1d !important;
}

.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight pre, .gist-highlight pre, .highlight code{
	background:#171b1d!important;
	border:1px solid #171b1d !important;
	font-size:0.9rem;
}

body>header h1 a, body>header h1 a:visited, body>header h1 a:hover{
	font-family:"PT Sans";
}

#content .blog-index article h1 a:hover{
	text-decoration:none;
	color: #FF8C00!important;
}

#content .blog-index a[rel=full-article]:hover{
	background:#080816!important;
	color:#f2f2f2!important;
}

aside.sidebar:hover a{
	color:#FF8C00!important;
	text-decoration: none!important;
}

.categories a{
	text-decoration: none;
	color:#FF8C00;
}

#content .blog-index article h1 a:hover, #content div.pagination a:hover, #blog-archives h1 a:hover, #blog-archives a:hover, #blog-archives .entry-content a:hover{
	color:#FF8C00!important;
	text-decoration:none;
}

a:visited{
	color:none!important;
}

article p a:hover, article ul a:hover, aside.sidebar:hover a:hover{
	color:#1863a1!important;
}

#content .blog-index a[rel=full-article], body>footer a{
	color:#6b6b6b!important;
	text-decoration: none;
}

article p a, article ul a{
	color:#FF8C00!important;
	text-decoration: none;
}


/*For menu responsiveness by Tania Rascia*/

.nav-mobile {
	display: none;
	position: relative;
	background: none;
	height: 50px;
	width: 70px;
}

@media only screen and (max-width: 549px) {
  .nav-mobile {
    display: block;
  }

  nav {
/*    width: 100%;*/
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
    list-style-type:none;
    margin-right:0px;
  }

  nav ul li {
    float: none;
    width:100%;
  }

  nav ul li a {
    padding: 15px;
    line-height: 25px;
    text-decoration:none;
    color:#6b6b6b;
    width:100%;
    display:inline-block;
  }

  nav ul li a:hover{
  	color:#3d3d3d;
  }

@media only screen and (min-width: 550px) {
  .main-navigation {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
/*  left: 18px;
  top: 22px;*/
  cursor: pointer;
  padding: 25px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #6b6b6b;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}