aside.sidebar a{
	text-decoration:none!important;
}

.fab{
	padding: 10px!important;
}

body>header{
	background-color:#080816!important;
}

html{
	background-color:#000000e6!important;
}

.highlight, .gist-highlight{
	background:#171b1d!important;
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight{
	border:1px solid #171b1d !important;
}

.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight pre, .gist-highlight pre, .highlight code{
	background:#171b1d!important;
	border:1px solid #171b1d !important;
	font-size:0.9rem;
}

body>header h1 a, body>header h1 a:visited, body>header h1 a:hover{
	font-family:Roboto!important;
}